@model Rbyte.Application.Store.Add.AddStoreProductModel
@{
    ViewData["Title"] = "Add products";
}

<section>
    <h2>Add product to storehouse</h2>
</section>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="container">
    <form method="post" asp-action="AddProduct">
        @Html.HiddenFor(x => x.StoreId)

        <section  class="row">
             <label class="control-label">Select product which you'd like to add</label>
             @Html.DropDownListFor(model => model.ProductId, Model.ProductSelectList, "--   Select product --", new { @class = "form-control" })
         </section>

         <section class="row">
            <label class="control-label">Count of products</label>
            @Html.EditorFor(x => x.Count, new {htmlAttributes = new { @class = "form-control" } })
        </section>
         
            @await Html.PartialAsync("_ErrorMessages")
        <section class="row">
            <button type="submit" class="btn btn-success">Save</button>
        </section>
    </form>
</div>
<div>
    @Html.ActionLink("Back to details", "Details", new { id = Model.StoreId })
</div>