@model Rbyte.Application.Store.Update.UpdateStoreModel
@{
    ViewData["Title"] = "Edit";
}

<section>
    <h2>Edit store</h2>
</section>
<div class="container">
    <form method="post" asp-action="Edit">
        @Html.HiddenFor(x => x.StoreId)
        <section class="row">
            <label class="control-label">Name</label>
            @Html.EditorFor(x => x.Name, new {htmlAttributes = new { @class = "form-control" } })
        </section>

        <section  class="row">
             <label class="control-label">Add new product to storehouse</label>
             @Html.DropDownListFor(model => model.ProductId, Model.ProductSelectList, "--   Select product --", new { @class = "form-control" })
         </section>

         <section class="row">
            <label class="control-label">Count of products</label>
            @Html.EditorFor(x => x.Count, new {htmlAttributes = new { @class = "form-control" } })
        </section>

        @await Html.PartialAsync("_ErrorMessages")
         
        <section class="row">
            <button type="submit" class="btn btn-success">Save</button>
        </section>
    </form>
</div>
<div>
    @Html.ActionLink("Back to list", "Index")
</div>