@model IEnumerable<Rbyte.Application.Store.ReadStoreModel>

@{
    ViewData["Title"] = "Store list";
}

<h2>Stores</h2>

<p>
    @Html.ActionLink("Create new store", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StoreId})  |
                    @Html.ActionLink("Details", "Details", new { id = item.StoreId })  |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StoreId })  |
                </td>
            </tr>
        }
    </tbody>
</table>