@model Rbyte.Application.Product.Create.CreateProductModel
@{
    ViewData["Title"] = "Create";
}

<section>
    <h2>Create new product</h2>
</section>
<div class="container">
    <form method="post" asp-action="Create">

        <section class="row">
            <label class="control-label">Name</label>
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
        </section>

        <section class="row">
            <label class="control-label">Description</label>
            @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
        </section>

        <section class="row">
            <label class="control-label">Price</label>
            @Html.EditorFor(x => x.Price, new { htmlAttributes = new { @class = "form-control" } })
        </section>

        <section class="row">
            <label class="control-label">Barcode</label>
            @Html.EditorFor(x => x.Barcode, new { htmlAttributes = new { @class = "form-control" } })
        </section>

        <section class="row">
            <label class="control-label">Category</label>
            @Html.DropDownListFor(model => model.CategoryId, Model.CategorySelectList, "-- Select category --", new { @class = "form-control" })
        </section>

        @await Html.PartialAsync("_ErrorMessages")

        <section class="row">
            <button type="submit" class="btn btn-success">Save</button>
        </section>

    </form>
</div>

<div>
    @Html.ActionLink("Back to list", "Index")
</div>

