@model IEnumerable<Rbyte.Application.Discount.Read.ReadDiscountModel>

@{
    ViewData["Title"] = "Discount list";
}

<h2>Discounts</h2>

<p>
    @Html.ActionLink("Create new discount", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DiscountId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DiscountId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DiscountId })
                </td>
            </tr>
        }
    </tbody>
</table>
